<nav class="navbar navbar-light header static-top">
  <div class="container">
    <a class="navbar-brand custom_width"><img src="assets/img/bit-fin-white.png" style="width: 20px;margin-right: 10px;"> BitFin</a>
    <a class="btn btn-link" (click)="dashboard()">Dashboard</a>
    <a class="btn btn-link" (click)="wallet()">Wallet</a>
    <a class="btn btn-link" (click)="transactions()">Transactions</a>
    <a class="btn btn-link" (click)="profile()">Profile</a>
    <a class="btn btn-link" (click)="logout()">Logout</a>
  </div>
</nav>