.nav-tabs>li {
    width: 25%;
    text-align: center;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #417af8;
}

a , .theme_color {
    color: #417af8
}

.nav-tabs {
    border-bottom: none;
    padding-top:10px;
}

.bg_color {
    /* background: #f2eeff; */
    background: white;
    /* height: calc(100vh - 60px); */
}

.container {
    background: white;
    min-height:calc(100vh - 121px);
}

.internal_section {
    padding: 10px;
}

.center_align {
    width: 60%;
    margin: 0 auto;
}

.text_align_left {
    text-align: left;
}

table {
    float: right;
}

td {
    padding: 5px;
    text-align: left;
}