.nav-tabs>li {
    width: 24%;
    text-align: center;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #151935;
}

a {
    color: #151935;
}

a:hover {
    /* font-size: 18px; */
    color: #151935!important;
}

.nav-tabs {
    /* border-bottom: none; */
    padding-top: 10px;
}

.bg_color {
    /* background: #f2eeff; */
    background: white;
    /* height: calc(100vh - 60px); */
}

.container {
    background: white;
    min-height: calc(100vh - 121px);
    padding-bottom: 10px;
}

.internal_section {
    padding: 10px;
}

.width_60 {
    width: 60%;
    margin: 0 auto;
}

.width_80 {
    width: 65%;
    margin: 0 auto;
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1200px) {
    .width_80 {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .width_80, .width_60 {
        width: 100%;
    }
}

.text_align_left {
    text-align: left;
}

table {
    float: right;
}

td {
    padding: 5px;
    text-align: left;
}

.saved_card_section {
    padding: 10px 0px;
}

.text_align_left {
    text-align: left;
}

.red {
    color: red;
}

.card {
    margin: 10px;
    height: 150px;
    width: 340px !important;
    cursor: pointer;
    border: 1px solid #d8d8fd;
    background: #fbfbfd;
}

.card:hover, .selected {
    border: 1px solid black;
    box-shadow: 8px 8px 12px 4px #dbdde0;
}

.card_label {
    color: grey;
    white-space: nowrap;
}

.card_bottom {
    padding: 15px
}

.card_top {
    padding: 15px
}

.autocomplete_numbers {
    position: absolute;
    height: 200px;
    overflow: scroll;
    background: #f2eefe;
    width: 90%;
    border: 1px solid gainsboro;
    border-radius: 4px;
    z-index: 1;
    text-align: left;
}

.number_div {
    padding: 5px 15px;
    border-bottom: 1px solid gainsboro;
    cursor: pointer;
}

.number_div:hover{
    background: #d8d8fd;
}

.custom_cvv{
    border: none;
    width: 120%;
    border-bottom: 2px solid #000422;
    border-radius: 0px;
    height: 24px;
}

.form-control:focus{
    border:none
}

i {
    color: #000422;
}

.bg_theme{
    background: #000422;
}

.control-label {
    margin-top: 0px;
    color: #000422;
}

p {
    color: black;
}

input:focus, input:hover {
    background: none !important;
}
span{
    color: black;
}

label{
    font-weight: 500;
    color: black;
}

.col-xs-4{
    width: 32.33333%
}
.col-xs-6{
    width: 49%;
}
.no_transactions {
    color: red;
    font-size: 16px;
    text-align: center;
}