<app-menu></app-menu>

<section class="top_custom_height">
  <div class="bg_color">


    <div class="container">

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#wallet">WALLET</a></li>
        <li><a data-toggle="tab" href="#send">SEND</a></li>
        <li><a data-toggle="tab" href="#receive">RECEIVE</a></li>
        <li><a data-toggle="tab" href="#deposit">DEPOSIT</a></li>
        <li><a data-toggle="tab" href="#withdraw">WITHDRAW</a></li>
      </ul>

      <div class="tab-content">
        <div id="wallet" class="tab-pane fade in active">
          <div> Wallet details</div>
        </div>
        <div id="send" class="tab-pane fade">
          <div>Send money</div>
        </div>
        <div id="receive" class="tab-pane fade">
          <div>Receive money</div>
        </div>
        <div id="deposit" class="tab-pane fade">
          <div>Deposit money</div>
        </div>
        <div id="withdraw" class="tab-pane fade">
          <div>Withdraw money</div>
        </div>
      </div>
    </div>

  </div>
</section>