<app-menu></app-menu>
<section class="top_custom_height">
  <div class="container dashboard_section">
    <div class="balance_section">
      <h4 class="font_bold">Your Account Balance</h4>
      <div class="row" *ngIf="userBalance && usd_Xlm && xlm_Usd">
        <div class="col-sm-4">
          <div class="outer_box">
            <h4 class="font_bold">Available Balance - USD</h4>
            <h3 class="font_bold">$ {{userBalance * xlm_Usd.USD}}</h3>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="outer_box">
            <h4 class="font_bold">Available Balance - XLM</h4>
            <h3 class="font_bold"> {{userBalance}} XLM</h3>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="outer_box">
            <div *ngIf="xlm_Usd" class="conversion_rate">1 XLM = {{xlm_Usd.USD}} USD</div>
            <div *ngIf="usd_Xlm" class="conversion_rate">1 USD = {{usd_Xlm.XLM}} XLM</div>
          </div>
        </div>
      </div>
    </div>

    <div class="graph_section">
      <h4 class="font_bold">XLM Rate Flow</h4>
      <div style="display: block;" *ngIf="lineChartData && lineChartLabels">
        <canvas baseChart width="300" height="80" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
      </div>
    </div>

    <div class="recent_activities_section">
      <h4 class="font_bold">Recent sent Transactions</h4>
      <div class="row">
        <div class="col-sm-10">
          <div class="recent_transactions_card" *ngFor="let transaction of sentTransactions | slice:0:10">
            Successfully
            <b style="color:blue">Sent</b> <b> $ {{transaction.walletAmount}}</b> USD to
            <b>{{transaction.receiver.firstName}} {{transaction.receiver.lastName}}</b> on {{transaction.createdTs | date: 'dd/MM/yyyy HH:mm:ss'}}.  Ref-Id: {{transaction._id}}
          </div>

        </div>
      </div>
    </div>

  </div>

  <app-footer></app-footer>
</section>