.dashboard_section {
    padding: 15px 0px;
}

.balance_section {
    margin: 15px;
}

.graph_section {
    margin: 15px;
}

.recent_activities_section {
    margin: 15px;
}

.outer_box {
    border: 1px solid #151935;
    padding: 10px;
    border-radius: 4px;
    background: #151935;
    color: white;
    text-align: center;
    margin: 10px;
}

.font_bold {
    font-weight: bold;
}

.conversion_rate {
    font-size: 21px;
    font-weight: bold;
    padding: 6px 0px;
}

.recent_transactions_card {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    background: #f2eefe;
}
h4{
    font-size: 18px;
}

h3{
    font-size: 24px;
}