.nav-tabs>li {
    width: 25%;
    text-align: center;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    font-weight: bold;
    border:none;
    border-bottom: 2px solid #417af8;
}

a{
    color: #417af8
}
.nav-tabs{
    border-bottom: none;
    padding-top:10px;
}

.bg_color{
    background: white;
    /* height:calc(100vh - 60px); */
    /* background-image: url("./../../assets/img/bit-fin.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center left; 
    background-size: 60px 90px; */
}

.container{
    background: white;
    min-height:calc(100vh - 121px);
    padding-bottom: 10px;
   
}
.internal_section {
    padding: 10px;
}

.center_align {
    width: 80%;
    margin: 0 auto;
}

.text_align_left {
    text-align: left;
}

.text_align_left{
    text-align: left;
}
.table-bordered {
    border: 1px solid #ddd;
}
td{
    white-space: nowrap;
    padding: 10px !important;
}
th{
    text-align: center;
}