<app-menu></app-menu>
<section class="top_custom_height">
  <div class="bg_color">


    <div class="container">

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#send">SEND</a></li>
        <li><a data-toggle="tab" href="#receive">RECEIVE</a></li>
        <li><a data-toggle="tab" href="#deposit">DEPOSIT</a></li>
        <li><a data-toggle="tab" href="#withdraw">WITHDRAW</a></li>
      </ul>

      <div class="tab-content">
        <div id="send" class="tab-pane fade in active">
          <div>Sent Transactions</div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="receive" class="tab-pane fade">
          <div>Receive money</div>
        </div>
        <div id="deposit" class="tab-pane fade">
          <div>Deposit money</div>
        </div>
        <div id="withdraw" class="tab-pane fade">
          <div>Withdraw money</div>
        </div>
      </div>
    </div>

  </div>
</section>