<app-menu></app-menu>
<section class="top_custom_height">
  <div class="bg_color">


    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#send">SEND</a></li>
        <li><a data-toggle="tab" href="#receive">RECEIVE</a></li>
        <li><a data-toggle="tab" href="#deposit">DEPOSIT</a></li>
        <li><a data-toggle="tab" href="#withdraw">WITHDRAW</a></li>
      </ul>

      <div class="tab-content">
        <div id="send" class="tab-pane fade in active">

          <div class="internal_section">
            <div class="text_align_center center_align">
              <h4>Sent Transaction Details</h4>
              <div>
                <br>
                <p class="text_align_left">
                  All the transactions that you have sent to other users are listed below.
                </p>
                <br>

                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Sent To</th>
                        <th>Amount</th>
                        <th>Transaction ID</th>
                        <th>Time</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Yokesh Maxwell</td>
                        <td>15 USD</td>
                        <td>5c1087374da6453faafbcdjffff7</td>
                        <td>12/12/2018 16.79</td>
                        <td>Success</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Yokesh Maxwell</td>
                        <td>15 USD</td>
                        <td>5c107374da6453faafbcdj7gge44</td>
                        <td>12/12/2018 16.79</td>
                        <td>Success</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Yokesh Maxwell</td>
                        <td>15 USD</td>
                        <td>5c1087374da6453faafbcdj4445s</td>
                        <td>12/12/2018 16.79</td>
                        <td>Success</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>

        </div>
        <div id="receive" class="tab-pane fade">
          <div class="internal_section">
            <div class="text_align_center center_align">
              <h4>Received Transaction Details</h4>
              <div>
                <br>
                <p class="text_align_left">
                  All the transactions that other users have sent to you are listed below.
                </p>
                <br>

                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Sent From</th>
                        <th>Amount</th>
                        <th>Transaction ID</th>
                        <th>Time</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Yokesh Maxwell</td>
                        <td>15 USD</td>
                        <td>5c1087374da6453faafbcdjffff7</td>
                        <td>12/12/2018 16.79</td>
                        <td>Success</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Yokesh Maxwell</td>
                        <td>15 USD</td>
                        <td>5c107374da6453faafbcdj7gge44</td>
                        <td>12/12/2018 16.79</td>
                        <td>Success</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Yokesh Maxwell</td>
                        <td>15 USD</td>
                        <td>5c1087374da6453faafbcdj4445s</td>
                        <td>12/12/2018 16.79</td>
                        <td>Success</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div id="deposit" class="tab-pane fade">
          <div class="internal_section">
            <div class="text_align_center center_align">
              <h4> Deposit Amount Details</h4>
              <div>
                <br>
                <p class="text_align_left">
                  All the details of your deposit transactions are listed below.
                </p>
                <br>

                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>USD Amount</th>
                        <th>Time</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>$ 15</td>
                        <td>12/12/2018 16.79</td>
                        <td>Success</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>$ 15</td>
                        <td>12/12/2018 16.79</td>
                        <td>Success</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>$ 15</td>
                        <td>12/12/2018 16.79</td>
                        <td>Success</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div id="withdraw" class="tab-pane fade">
          <div class="internal_section">
            <div class="text_align_center center_align">
              <h4> Withdraw Amount Details</h4>
              <div>
                <br>
                <p class="text_align_left">
                  All the details of the withdrawl requests by you are listed below.
                </p>
                <br>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>USD Amount</th>
                        <th>Time</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>$ 15</td>
                        <td>12/12/2018 16.79</td>
                        <td>Success</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>$ 15</td>
                        <td>12/12/2018 16.79</td>
                        <td>Success</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>$ 15</td>
                        <td>12/12/2018 16.79</td>
                        <td>Success</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</section>