/* You can add global styles to this file, and also import other style files */

.bg_white {
    background: white;
}

.top_custom_height {
    position: relative;
    top: 60px;
}

.color_black {
    color: black !important;
}

.color_white {
    color: white !important;
}

.text_align_center {
    text-align: center;
}

.btn-primary {
    background-color: #020838 !important;
    border-color: #010522 !important;
}

.btn-primary:focus, .btn-primary:hover {
    background-color: #010313 !important;
    border-color: #000422 !important;
}

/* ::-webkit-scrollbar {
    display: none;
} */

.fa-spinner {
    font-size: 24px;
    text-align: center;
    color: #000422;
}

.loading_content {
    text-align: center;
    padding: 25px;
}

i {
    color: #000422;
}

.control-label {
    margin-top: 12px;
    color: #000422;
}

p {
    color: black;
}

input:focus, input:hover {
    background: none !important;
}

.pleaseWaitOption{
    color: #000422;
}
b{
    font-weight: 500;
}