<nav class="navbar navbar-expand-lg fixed-top" id="nav">
  <a class="nav-link" href="#banner">Smartportfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-navicon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-4">
      <li class="nav-item active">
        <a class="nav-link" href = "#banner">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href = "#about-us">About</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href = "#our-benefits">Benefits</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href = "#how-it-works">How It Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href = "#faqs">FAQ</a>
      </li>
      
      <li class="nav-item visible-md-device">
        <a class="nav-link" href = "#banner"><span class="login pl-4 pr-4 pt-2 pb-2" (click) = "loginWidget()">Login</span> </a>
      </li>
      <li class="nav-item visible-xs-device">
        <a class="nav-link" href = "/login"><span class="login pl-4 pr-4 pt-2 pb-2">Login</span> </a>
      </li>
    </ul>
  </div>
</nav>