.header {
    background: #417af8;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 60px;
}

.register-section {
    background: #f2efff;
    position: relative;
    top: 60px;
    padding: 50px 0px;
    color: black !important;
}

nav a {
    color: white
}

.custom_width {
    width: 50%;
    display: inline-flex;
}

.box {
    /* border:1px solid grey; */
    background: white;
    border-radius: 3px;
    padding: 20px;
    /* line-height: 2; */
}

.input input {
    padding: 0px 5px;
}

label {
    margin: 0px;
}

.form-group {
    text-align: left;
}

.login_btn {
    background: #417af8;
    color: white;
    font-size: 14px;
    width: 100%;
}

footer.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #f2efff;
}

.error_msg {
    color: red;
    text-align: center;
}

.normal_font_weight {
    font-weight: 500;
}

.forgot_pass_option {
    font-size: 12px;
    cursor: pointer;
}

.new_login {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

#partitioned {
    letter-spacing: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}