<!-- Navigation -->
<nav class="navbar navbar-light header static-top">
  <div class="container">
    <a class="navbar-brand custom_width">
      <img src="assets/img/bit-fin-white.png" style="width: 20px;margin-right: 10px;"> BitFin</a>
    <a class="btn btn-link">About</a>
    <a class="btn btn-link">How it works</a>
    <a class="btn btn-link">Login</a>
    <a class="btn btn-link">Sign In</a>
  </div>
</nav>

<!-- Masthead -->
<header class="register-section text-white text-center">
  <div class="overlay"></div>
  <div class="container">


    <div class="row">
      <div class="col-sm-4">
        <img src="./../assets/img/bit-fin.png" width="250px">

      </div>
      <div class="col-sm-4">

        <h5>Some content about bitfin will be displayed here..</h5>
      </div>
      <div class="col-sm-4">
        <div class="box">
          <h4>Sign In</h4>
          <div class="error_msg">{{invalidMobile}}</div>

          <div *ngIf="!otpScreen">
            <div class="form-group">
              <label class="normal_font_weight">Mobile Number</label>
              <int-phone-prefix [locale]="'hi'" id="mobileNumber" (change)="countryCode($event)" defaultCountry="in" [(ngModel)]="login.phone"></int-phone-prefix>
            </div>
            <div class="form-group">
              <label class="normal_font_weight">Password</label>
              <input type="password" class="form-control form-white" placeholder="Password" name="password" [(ngModel)]="login.password">
              <a class="forgot_pass_option" (click)="forgotPasswordScreen()">Forgot Password?</a>
            </div>
            <button type="submit" class="btn btn-submit login_btn" (click)="loginUser()">Login</button>
            <div style="font-size: 12px;text-align:left;padding-top:4px">* For demo purpose mobile number and password are prefilled. For this for
              <span class="new_login" (click)="newLogin()">New login</span>
            </div>
          </div>

          <div *ngIf="otpScreen">

            <div style="font-size: 12px;text-align:left;">
              * For demo purpose, OTP will be displayed here
              <b> {{loginResponse.otp}}</b>
            </div>
            <br>
            <div>
              Enter the verification code sent to your registered mobile number {{loginResponse.code}} {{loginResponse.mobile_number}}
            </div>
            <br>
            <div>
              <input type="text" id="partitioned" maxlength="4" name="otpCode" [(ngModel)]="otp" />
            </div>
            <br>

            <button type="submit" class="btn btn-submit login_btn" (click)="verifyOTP()">Submit</button>

          </div>


        </div>
      </div>

      <!-- <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Build a landing page for your business or project and generate more leads!</h1>
      </div> -->
      <!-- <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
            </div>
          </div>
        </form>
      </div> -->
    </div>
  </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <h3>How it works</h3>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h4>Exchange</h4>
          <p class="lead mb-0">Deposit USD and Receive relevant XLM according to market rate. Withdraw USD by depositing XLM.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h4>Send and Receive</h4>
          <p class="lead mb-0">Send and Receive stellar payments around the world instantly!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h4>Track</h4>
          <p class="lead mb-0">Keep track of all your deposits and withdrawl easily</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<!-- <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Fully Responsive Design</h2>
            <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Updated For Bootstrap 4</h2>
            <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-3.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Easy to Use &amp; Customize</h2>
            <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
          </div>
        </div>
      </div>
    </section> -->

<!-- Testimonials -->
<!-- <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
              <h5>Margaret E.</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
              <h5>Fred S.</h5>
              <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
              <h5>Sarah	W.</h5>
              <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->

<!-- Call to Action -->
<!-- <section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> -->

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; bitfin 2018. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>